extends layout

block content
<<<<<<< HEAD
  input(id="reset", value="Clear", type="button", style="display: block;")
  canvas(id="drawing", width="1000", height="1000")
=======
  h1 Welcome.
  a(href='/new') Create a new whiteboard
>>>>>>> refs/heads/develop
