doctype 5
html(lang="en")
<<<<<<< HEAD
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/underscore.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/drawing.js')
    script(src='/javascripts/client.js')
=======
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
>>>>>>> refs/heads/develop
